extends ../layout

block content
  // Topic Header Section
  include ../components/topic-header
  // Introduction Section
  include ../components/intro
  // Prerequisite Section
  include ../components/pre-req
  // Contents Section
  include ../components/contents

  block contentSections
  
  // Exercises Section
  include ../components/exercises
  // Resources Section
  include ../components/resources