extends ./layout

block content
  section.section
    .container
      .content.has-text-centered
        p Unfortunately, we were unable to locate the resource you requested.
        p
          a(href="/") Click Here to go back to the homepage.