extends ./layout

block content
  section.section
    .container
      .content.has-text-centered
        p Uh-oh, there was an Internal Server Error. That means that your request was mishandled or something broke server side.
          br
          | Sorry about that. Feel free to raise an issue about this 
          a(href="https://github.com/JetJet13/mathbook/issues" target="_blank") here
        p
          a(href="/") Click Here to go back to the homepage.