extends ./layout

block content
  section.hero.is-info
    .hero-body.has-text-centered
      h2.title Tutorial Dashboard
      h5.subtitle Welcome #{username}
  dashboard
  script(type="text/javascript" src="/js/all.js")
  script(type="text/javascript" src="/js/riotInit.js")