extends ./layout

block content
  section.section
    .container.has-text-centered
      .content
        p You have Successfully Logged Out
        a.button.is-dark(href='/')
          span Go to Homepage 