extends ./layout

block content
  section.hero.is-danger.is-medium
    .hero-body.has-text-centered
      h2.title You have Successfully Logged Out
      a.button.is-white(href='/')
        span Go to Homepage 