extends layout

block content
  section.hero.is-white
    .hero-body.has-text-centered
      h2.title Submitted Tutorials
      h5.subtitle Below you'll find a list of all of the tutorials that are currently submitted for review. 
  submitted-tutorials