# vscode
.vscode/
node_modules
coverage
.nyc_output
npm-debug.log
src/server/logs/
src/front-end/public/javascripts/riotTags.bundle.js
src/front-end/public/dist/*.css
src/front-end/public/dist/*.js
config/local.json
