extends ../layout
block content
  section.hero.is-success.is-medium
    .hero-body
      .container.has-text-centered
        h3.title Contribute to Mathbook
        h5.subtitle Everything you need to know to start contributing.
  section.section
    .container
      .columns
        .column.is-two
          aside.menu
            p.menu-label
              | Contents
            ul.menu-list
              li
                a(href='#gettingStarted') Getting Started
              li
                a(href='#know') Things to Know
              li
                a Invitations
              li
                a Cloud Storage Environment Settings
              li
                a Authentication
        .column.is-10
          .content
            h3#gettingStarted Getting Started
            p Thanks for wanting to contribute to Mathbook, we are always looking for more contributors.
              |  Now, before we get into the details of building a tutorial, let's first talk about the idea behind Mathbook which will help us define the purpose of our tutorials.
            p
              |  The idea behind Mathbook is a very simple one, which is 
              | to provide the world a free online resource to learn the 'What', 'Why' and 'How' on subjects in Mathematics.
            p
              | We can all work together to refine and make Mathbook a better resource for students.
            
            h3#know Things to Know
            p In order to start building a tutorial, you will need to have a GitHub account and knowledge of MathJax, HTML and CSS.
              | Every tutorial also requires a few core details that you will need to be provide along with the content (ie. exercises).
            p If you want to write a tutorial on a subject not (yet) listed in Mathbook, feel free to contact me at jgeorges371@gmail.com
              |  to discuss the details.
            p If and when your tutorial gets added to Mathbook, you will be added as a contributor to this project.
            
            
