extends ./layout

block content
  section.hero.is-warning
    .hero-body
      .container.has-text-centered
        h3.title Contribute to Mathbook
        h5.subtitle Any form of contribution towards Mathbook is greatly appreciated.
  block info