extends ./layout

block content
  section.section
    .container
      h3.title Contributing to Mathbook
      h5.subtitle Sharing knowledge is an amazing thing. We look forward to your contributions.
  section.section
    .container
      .content
        h3 In what ways can I contribute ?
        p 
          | Great question! Currently, the only way to contribute to 
          | Mathbook is by creating a tutorial.
        h3 I want to build a tutorial for Mathbook.
        p
          | Great to hear. You can read up on documentation and processes that involve creating a tutorial for Mathbook 
          a(href='contribute/docs') here.