extends ./layout

block content
  section.section
    .container
      h3.title Welcome to the Tutorial Dashboard
  dashboard
  script(type="text/javascript" src="/js/all.js")
  script(type="text/javascript" src="/js/riotInit.js")