extends ./layout

block content
  section.hero.is-info
    .hero-body.has-text-centered
      h3.title Tutorial Builder
  section.section
    .container
      .title.is-5 Tutorial: #{ tutorialName }
      .content
        p Welcome to the tutorial builder. Please build out the tutorial in the order presented.
        a(class="button is-info is-pulled-right" href="/dashboard") Return to Dashboard
  builder( tutorial-name=tutorialName)
  script(type="text/javascript" src="/js/all.js")
  script(type="text/javascript" src="/js/riotInit.js")
