extends ./layout

block content
  section.hero.is-info
    .hero-body.has-text-centered
      h3.title Tutorial Builder
  section.section
    .container
      .content
        p Welcome to the tutorial builder. Please build out the tutorial in the order presented.
  section.section
    .container
      h5.title Configuration
      subject
      config-title
      opening-statement
      pre-req
      table-of-contents
      exercise-statement
      resources
      keywords
  
  script(type="text/javascript" src="/tags/editor/subject.js")
  script(type="text/javascript" src="/tags/editor/config-title.js")
  script(type="text/javascript" src="/tags/editor/opening-statement.js")
  script(type="text/javascript" src="/tags/editor/pre-req.js")
  script(type="text/javascript" src="/tags/editor/table-of-contents.js")
  script(type="text/javascript" src="/tags/editor/resources.js")
  script(type="text/javascript" src="/tags/editor/exerciseStatement.js")
  script(type="text/javascript" src="/tags/editor/keywords.js")
  script(type="text/javascript" src="/js/riotInit.js")
