extends ./layout

block content
  section.hero.is-info
    .hero-body.has-text-centered
      h3.title Tutorial Builder
  section.section
    .container
      .content
        p Welcome to the tutorial builder. Please build out the tutorial in the order presented.
  navigation
  script(type="text/javascript" src="/tags/editor/navigation.js")
  script(type="text/javascript" src="/js/riotInit.js")
