extends layout

block content
  section.hero.is-info.is-medium
    .hero-body
      .container
        h1.title
          | Welcome to Mathbook
        h2.subtitle
          | An online resource for students and educators who need some calculations done.
  .container.is-fluid
    section.section.my-section-margin
      .container
        h3.title.is-3 Select A Subject to Get Started
    section.section.my-section-margin
      .container
        .tile.is-ancestor.is-vertical
          for subject in subjects
            .tile.is-parent
              a.tile.is-child.box.notification(href="/subject/"+subject.id class=subject.color)
                h3.title #{subject.title}
                .content.is-medium
                  p #{subject.blurb}
                span.content.is-medium.my-subject-example #{subject.example}
  section.hero.is-light.is-bold
    .hero-body
      .container.has-text-centered
        h1.title
          | Math is a tool created to help us measure the world around us.
        h2.subtitle
          | For that reason alone, math is worth learning.
  script renderMathInElement(document.body)