html{
  min-height:100%;
}
body{
  font-family: 'Roboto', Arial, sans-serif !important;
  min-height: 100%;

}
.container{
  font-family: 'Roboto', Arial, sans-serif !important;
  min-height: 100%;
}
.content{
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.my-wrapper{
  min-height: 100%;
}
.my-section-margin{
  margin-top: 20px;
  margin-bottom: 20px;
}
.my-primary-bg{
  background-color: #00D1B2;
}
.my-purple-subject{
  background-color:  #9c27b0;
  color: white;
}
.my-purple-bg{
  background-color: #9C27B0;
}
.my-blue-bg{
  background-color: #3273DC;
} 
.my-red-bg{
  background-color: #FF3860;
}
.my-orange-bg{
  background-color: orange;
}
.my-green-icon{
  color:#20BC56;
}
.my-red-icon{
  color:#FF3860;
}

