html{
  min-height:100%;
}
body{
  font-family: 'Roboto', Arial, sans-serif !important;
  min-height: 100%;

}
.container{
  font-family: 'Roboto', Arial, sans-serif !important;
  min-height: 100%;
}
.content{
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.my-wrapper{
  min-height: 100%;
}
.my-section-margin{
  margin-top: 20px;
  margin-bottom: 20px;
}
.my-primary-bg{
  background-color: #00D1B2;
}
.my-purple-subject{
  background-color:  #9c27b0;
  color: white;
}
.my-purple-bg{
  background-color: #9C27B0;
}
.my-blue-bg{
  background-color: #3273DC;
} 
.my-red-bg{
  background-color: #FF3860;
}
.my-orange-bg{
  background-color: orange;
}
.my-green-icon{
  color:#20BC56;
}
.my-red-icon{
  color:#FF3860;
}

.submit{
  color: #23d160;
}

.edit{
  color:#276CDA;
}

.delete-button{
  color: #ff2b56;
}

.is-full-width{
  width: 100%;
  padding: 0.75rem;
}

section.section.my-section-margin > div.content{
  font-family: 'Merriweather', sans-serif;
}

p.previewText{
  white-space: pre-wrap;
  font-family: 'Merriweather', sans-serif;
}

.sans{
  font-family: 'Roboto', Arial, sans-serif !important;
}

.serif{
  font-family: 'Merriweather', sans-serif;
}

.preWrap {
  white-space: pre-wrap;
}

.sortable-chosen{
  opacity: 0.1;
}
.sortable-ghost{
  opacity: 0.1;
}
content-section{
  position: relative;
}
exercise-section{
  position: relative;
}
.comment-textarea{
  min-height: 50px !important;
}

.modal-card{
  width: 80% !important;
}
