block exercises
  #exercises.section.my-section-margin
    .title.is-4
      | Exercises
      a(href='#exercises', style='opacity:0.4;')
        span.icon
          i.fa.fa-anchor
    .content
      p #{config.exercisesStatement}
    each q, index in exercises
      .content
        p #{index + 1}) \(\quad\) \(#{q.question}\)
        |     \(\quad\)
        button.button.is-white(onclick='showAnswer('+'q'+index+')') Show Answer
        p(id='q'+index hidden) #{q.answer}