block preReq
  .section.my-section-margin
    .title.is-4 Prerequisites
    .content
      p
        | The list of concepts that are required knowledge for this topic.
        | It is important that you understand these concepts before diving in.
      ul
        each topic in config.prerequisiteTopics
          li
            a(itemprop='relatedLink', href=topic.url, target='_blank') #{topic.title}
