block topic-header
  .section.my-section-margin
    .title(itemprop='name') #{config.title}
    .level
      .level-left
        .column(itemprop='breadcrumb', itemtype='http://schema.org/BreadcrumbList', itemscope='')
          each route in config.breadCrumbs
            span(itemprop='itemListElement')
              a(href=route.url)  #{route.title} 
              |  /
          span(itemprop='itemListElement') #{config.title}
